<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Forum</title>
</head>
<body>
  <h1>Forum</h1>
  <a href="/post?user_id=<%= user_id %>">Create Post</a>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <strong><%= post.User.username %></strong> at <em><%= post.timestamp %></em>: <%- post.content %>
      </li>
    <% }) %>
  </ul>
  <a href="/">Home</a>
</body>
</html>
